services:
  postgres:
    image: postgres:18.1-alpine
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
